<!DOCTYPE HTML>
<!--
        Projection by TEMPLATED
        templated.co @templatedco
        Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

{# Just something to abstract out the html header information and everything that's common to every page on the site. #}
<html lang="en">
    {% load static %}
    {% block javascripts %}
      <script src='{% static "js/jquery.min.js" %}'></script>
      <script src='{% static "js/skel.min.js" %}'></script>
      <script src='{% static "js/util.js" %}'></script>
      <script src='{% static "js/main.js" %}'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock javascripts %}

    {% block stylesheets %}
      <link href='{% static "css/main.css" %}' rel="stylesheet"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock stylesheets %}

    {# Can't see a case where we would want to change/overwrite this #}
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
            {% endblock meta %}
        {% endblock head %}
    </head>

    <title>Pi Shopping | {% block title %}{% endblock title %}</title>

    {# We most-times will not want to overwrite the navigation at the top #}
    {% block header %}
        <header id="header">
            <div class="inner">
                <nav id="nav">
                    <a href="{% url 'home' %}" class="logo"><strong>Header Area</strong></a>
                <nav id="nav">
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>
    {% endblock header %}

    <body class="subpage">
        {% block body%}
        {% endblock body %}
    </body>

    <footer id="footer">
        {% block footer %}
          {# more stuff for the bottom of the page here. #}
        {% endblock footer%}

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div id="contact-block" class="contact-block">
                <p>
                  Footer area<br>
                </p>
            </div>
          </div>
        </div>

        <div class="copyright">
            &copy; Copyright area
        </div>
    </footer>
</html>
